body {
	width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%
    margin-bottom: 10%;
    
	font-family: 'Roboto', sans-serif;
	background-color: #EDECE4;
	}
h1,h2{
	color: #FFFFFF;
    font-weight: 300;
}

h3{
	font-weight: 500;
}
p{
	font-weight: 300;
	line-height:3.5ex;
}

.banner{
	text-align: center;
	background-color: #325CD9;
	width: 100%;
	height: 57%;
	margin:0;
	position:absolute;
	left: 0px;
    top: 0px;
}
.banner h1{
margin-top: 7%;
position:relative;	

}
.banner h2{
position:relative;	
}
.banner p{
 margin-right: 30%;
  margin-left: 30%;
  margin-top: 2%;
  position:relative;
  color: #DFF2EA;

}
header {
    display: block;
}
.parrafo1{
	position:absolute;
	width: 30%;
	
	 margin-left: 2%;
	 margin-top: 400px;
	 margin-bottom: 10%;
	 background-color: #E3A89A;
	display: block;
	
	 
}
.parrafo1 h3{
margin-top: 7%;
 position:relative;
 margin-right: 10%;
  margin-left: 4%;
  margin-top: 7%;
  color: #000000;	
}
.parrafo1 p{
font-size: 100%;
	
 margin-right: 10%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
  position:relative;
	
}
.parrafo2{
position:absolute;
	 width: 30%;
	margin-left: 35%;
	 margin-top: 400px;
	 margin-bottom: 10%;
	 background-color: #9AD5E3;
	 display: block;

}
.parrafo2 h3{
margin-top: 7%;
 position:relative;
 margin-right: 10%;
  margin-left: 4%;
  margin-top: 7%;
  color: #000000;	
}
.parrafo2 p{
font-size: 100%;
	
 margin-right: 10%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
  position:relative;
}
.parrafo3{
	position:absolute;
	width: 30%;
	
	 margin-left: 35%;
	 margin-top: 1050px;
	 margin-bottom: 10%;
	 background-color: #B2D95F;
	display: block;
}
.parrafo3 h3{
margin-top: 7%;
 position:relative;
 margin-right: 10%;
  margin-left: 10%;
  margin-top: 7%;
  color: #000000;	
}
.parrafo3 p{
font-size: 100%;
	
 margin-right: 10%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
  position:relative;

}
.parrafo4{
position:absolute;
	 width: 30%;
	margin-left: 68%;
	 margin-top: 1050px;
	 margin-bottom: 10%;
	 background-color: #F2E077;
	 display: block;

}
.parrafo4 h3{
margin-top: 7%;
 position:relative;
 margin-right: 10%;
  margin-left: 10%;
  margin-top: 7%;
  color: #000000;	
}
.parrafo4 p{
font-size: 100%;
	
 margin-right: 10%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 5%;
  position:relative;
}

.parrafo5{
position:absolute;
	 width: 90%;
	margin-left: 5%;
	 margin-top: 1830px;
	 margin-bottom: 10%;
	 background-color: #8FF2CB;
	 display: block;

}
.parrafo5 h3{
margin-top: 7%;
 position:relative;
 margin-right: 4%;
  margin-left: 4%;
  margin-top: 7%;
  color: #000000;

}
.parrafo5 p{
margin-top: 2%;
margin-right: 3em;

text-align: justify;
}


.p1 p{
	font-size: 100%;
	
 margin-right: 3em;
  margin-left: 4em;
  margin-top: 1%;
  margin-bottom: 1%;
  position:relative;
  width: 45%;
  float: left;
}











a{
	color: #FFFFFF;
	text-decoration: none;
}

